[submodule "app/libgocryptfs"]
	path = app/libgocryptfs
	url = https://forge.chapril.org/hardcoresushi/libgocryptfs.git
[submodule "libpdfviewer"]
	path = libpdfviewer
	url = https://forge.chapril.org/hardcoresushi/libpdfviewer.git
[submodule "app/libcryfs"]
	path = app/libcryfs
	url = https://forge.chapril.org/hardcoresushi/libcryfs.git
