<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sushi.hardcore.droidfs">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:name=".ColoredApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SettingsActivity"
            android:theme="@style/Theme.Cyanea.Dark.NoActionBar"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".explorers.ExplorerActivity" />
        <activity android:name=".explorers.ExplorerActivityPick" />
        <activity android:name=".explorers.ExplorerActivityDrop" />
        <activity
            android:name=".OpenActivity"
            android:theme="@style/Theme.Cyanea.Dark.NoActionBar"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustPan">
            <intent-filter android:label="@string/share_menu_label">
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateActivity"
            android:theme="@style/Theme.Cyanea.Dark.NoActionBar"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".ChangePasswordActivity"
            android:theme="@style/Theme.Cyanea.Dark.NoActionBar"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".file_viewers.ImageViewer" android:configChanges="screenSize|orientation" /> <!-- don't reload content on configuration change -->
        <activity android:name=".file_viewers.VideoPlayer" android:configChanges="screenSize|orientation" />
        <activity android:name=".file_viewers.AudioPlayer" android:configChanges="screenSize|orientation" />
        <activity android:name=".file_viewers.TextEditor" android:configChanges="screenSize|orientation" />

        <provider
            android:name=".provider.TemporaryFileProvider"
            android:authorities="${applicationId}.tempstorage"
            android:exported="true"
            android:writePermission="${applicationId}.READ_TEMPORARY_STORAGE" />
    </application>

</manifest>
