<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <permission
        android:name="${applicationId}.WRITE_TEMPORARY_STORAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />

    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        tools:node="remove" /> <!--removing this permission automatically added by exoplayer-->

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme"
        android:name=".VolumeManagerApp"
        android:fullBackupContent="false"
        android:dataExtractionRules="@xml/backup_rules">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/share_menu_label">
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity" android:label="@string/title_activity_settings"/>
        <activity android:name=".add_volume.AddVolumeActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ChangePasswordActivity"  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".explorers.ExplorerActivity"/>
        <activity android:name=".explorers.ExplorerActivityPick"/>
        <activity android:name=".explorers.ExplorerActivityDrop"/>
        <activity android:name=".file_viewers.ImageViewer"/>
        <activity android:name=".file_viewers.VideoPlayer" android:configChanges="screenSize|orientation" />
        <activity android:name=".file_viewers.PdfViewer" android:configChanges="screenSize|orientation" android:theme="@style/AppTheme" />
        <activity android:name=".file_viewers.AudioPlayer" android:configChanges="screenSize|orientation" />
        <activity android:name=".file_viewers.TextEditor" android:configChanges="screenSize|orientation" />
        <activity android:name=".CameraActivity" android:screenOrientation="nosensor" />

        <service android:name=".WiperService" android:exported="false" android:stopWithTask="false"/>
        <service android:name=".file_operations.FileOperationService" android:exported="false"/>

        <receiver android:name=".file_operations.NotificationBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="file_operation_cancel"/>
            </intent-filter>
        </receiver>

        <provider
            android:name=".content_providers.RestrictedFileProvider"
            android:authorities="${applicationId}.temporary_provider"
            android:exported="true"
            android:writePermission="${applicationId}.WRITE_TEMPORARY_STORAGE" />
    </application>

</manifest>
